[Unit]
Description=The debug preload/preinit daemon Socket

[Socket]
ListenStream=/run/aul/%U/.debug-launchpad-sock
DirectoryMode=0777

[Install]
WantedBy=sockets.target
