[Unit]
Description=Start the debug preload/preinit daemon
Requires=xorg.service tizen-generate-env.service
After=dbus.service vconf-setup.service ac.service xorg.service tizen-generate-env.service

[Service]
EnvironmentFile=/run/tizen-mobile-env
ExecStart=/usr/bin/debug_launchpad_preloading_preinitializing_daemon "                                                                                                                                                                                                         "
